---
const {pageTitle} = Astro.props;
import '../styles/global.css'
import {Spa} from 'astro-spa';
---
<!DOCTYPE html>
<html lang="en" class="bg-cover" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{pageTitle}</title>
</head>
<body class=" bg-stone-900 bg-opacity-80 sm:text-xl  text-lg flex flex-col min-h-screen justify-center items-center">
   
    <slot/>
    <Spa defaultAnimation={false} progressBar={false}/>
    <script>
        import '../scripts/menu.js';
    </script>
</body>
</html>